body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}
.main {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: 1fr 4fr;
}

.left {
    height: auto;
    width: max(220px, 15vw);
    padding-inline: 20px;
    padding-top: 0px;
    background-color: rgb(37, 154, 223);
    color: white;
    grid-area: 1 / 1 / 3 / 1;
    display: grid; 
    gap: 8px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr repeat(9, 1fr) 8fr;
    align-items: center;
    justify-items: start;
}

.left :nth-child(odd) {
    justify-self: center;
}

.left :nth-child(13),
.left :nth-child(14) {
    margin-bottom: 40px;
    margin-top: 8px;
}

.left h2 {
    margin: 0px;
}

.left h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}
.left img {
    width: 20px;
    height: 20px;
    background-color: white;
}
.left :nth-child(1) {
    width: 35px;
    height: 35px;
}
.options * {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.options h2 {
    font-size: 24px;
}
.header {
    display: grid;
    padding-inline: 40px;
    padding-bottom: 10px;;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

.hTop {
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.tLeft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.hTop img {
    width: 30px;
    height: 30px;
    background-color: black;
}

.tRight img:nth-child(2) {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.hTop input {
    flex-grow: 1;
    border-radius: 25px;
    border-style: none;
    background-color:rgb(235, 233, 233);
    height: 30px;
}

.tRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.hTop h4 {
    font-size: 20px;
    width: max-content;
}


.hBot {
    grid-row-start: 2;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hLeft {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hLeft img {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.name *{
    margin-inline: 0px;
    margin-block: 5px;
    font-size: 14px;
    font-weight: bold;
}

.name h3 {
    font-size: 22px;
    width: max-content
}

.hRight {
    display: flex;
    gap: 30px;
}

.hRight button {
    width: 100px;
    height: 40px;
    color: white;
    background-color:rgb(37, 154, 223);
    border-radius: 25px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
}

.content {
    padding: 20px;
    background-color:rgb(235, 233, 233);
    height: auto;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.projects h3 {
    font-size: 22px;
}

.pGrid {
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.project {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 10px; 
    border-left: 6px solid rgb(255, 136, 0);
}

.projectC {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project * {
    margin-inline: 10px;
}

.project h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}

.project p {
    height: 100%;
    margin-top: 5px;
    color:rgb(129, 129, 129)
}

.icons {
    width: 100%;
    margin-inline: -10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px
}

.icons img {
    width: 30px;
    height: 30px;
    background-color: black;
}
.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.aBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aBox * {
    margin: 0px;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}