@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}
.main {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: 1fr 4fr;
}

.left {
    height: auto;
    width: max(250px, 15vw);
    padding-inline: 20px;
    padding-top: 0px;
    background-color: rgb(37, 154, 223);
    color: white;
    grid-area: 1 / 1 / 3 / 1;
    display: grid; 
    gap: 8px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr repeat(9, 1fr) 8fr;
    align-items: center;
    justify-items: start;
}

.left :nth-child(odd) {
    justify-self: center;
}

.left :nth-child(13),
.left :nth-child(14) {
    margin-bottom: 40px;
    margin-top: 8px;
}

.left h2 {
    margin: 0px;
}

.left h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}
.left img {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);
}
.left :nth-child(1) {
    width: 35px;
    height: 35px;
}

.left :nth-child(7) {
    transform: scaleX(-1);
}

.options * {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.options h2 {
    font-size: 24px;
}
.header {
    display: grid;
    position:relative;
    padding-inline: 40px;
    padding-bottom: 10px;;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.2);
}

.hTop {
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.tLeft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.hTop img {
    width: 25px;
    height: 25px;
}

.hTop input {
    flex-grow: 1;
    border-radius: 25px;
    border-style: none;
    background-color:rgb(235, 233, 233);
    height: 30px;
}

.tRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 40px;
}

.tRight img:nth-child(2) {
    height: 45px;
    width: 45px;
    border-radius: 25px;
}

.hTop h4 {
    font-size: 20px;
    width: max-content;
}


.hBot {
    grid-row-start: 2;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hLeft {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hLeft img {
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.name *{
    margin-inline: 0px;
    margin-block: 5px;
    font-size: 14px;
    font-weight: bold;
}

.name h3 {
    font-size: 22px;
    width: max-content
}

.hRight {
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.hRight button {
    width: 110px;
    height: 40px;
    color: white;
    background-color:rgb(37, 154, 223);
    border-radius: 25px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
}

.content {
    background-color:rgb(235, 233, 233);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 10px
}
.projects {
    grid-area: 1 / 1 / 3 / 2;
    padding-left: 20px;
}

.content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.pGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit 1fr);
    gap: 20px;
}

.project {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 22vh;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.project * {
    margin-inline: 10px;
}

.bord {
    background-color: rgb(255, 174, 0);
    width: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    margin: 0px;
    flex-shrink: 0;
}

.projectC {
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}

.project p {
    height: 200px;
    margin-top: 5px;
    color:rgb(129, 129, 129);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icons {
    width: 100%;
    margin-inline: -10px;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 10px
}

.icons img {
    width: 20px;
    height: 20px;
}
.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.aBox {
    padding: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.aBox div {
    height: 1px;
    width: 105%;
    margin-block: 15px;
    align-self: center;
    background-color:rgb(197, 197, 197);
}

.aBox * {
    margin: 0px;
}

.aBox h5 {
    font-size: 14px;
    margin-bottom: 0px;
}

.aBox p {
    font-size: 12px;
    color:rgb(129, 129, 129);
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.tBox {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.acc {
    display: flex;
    align-items: center;
    gap: 15px;
}

.acc img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user p {
    margin: 0;
    font-size: 14px;
}

.user p:nth-child(2) {
    color:rgb(129, 129, 129)
}